@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --toggle-width: 6rem;
    --toggle-bg-on: #ffc107;
    --toggle-bg-off: #0dcaf0;
    --toggle-border-on: #e7af06;
    --toggle-border-off: #0eb3d4;
    --toggle-height: 2rem;
    --toggle-border: 0.125rem;
    --toggle-font-size: 0.85rem;
}
