@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.schedule {
    position: relative;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
