@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --toggle-width: 6rem;
    --toggle-bg-on: #ffc107;
    --toggle-bg-off: #0dcaf0;
    --toggle-border-on: #e7af06;
    --toggle-border-off: #0eb3d4;
    --toggle-text-on: #333;
    --toggle-height: 1.75rem;
    --toggle-width: 6.5rem;
    --toggle-border: 0.15rem;
    --toggle-font-size: 0.85rem;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

td {
    vertical-align: middle;
}

.day-box {
    width: 24px;
    border-radius: 5px;
    text-align: center;
}

.schedule {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.schedule-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.delete-schedule {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
}

@media screen and (min-width: 600px) {
    .start-time {
        order: 1;
    }

    .duration {
        order: 3;
    }

    .days {
        order: 2;
    }

    .type {
        order: 4;
    }

    .status {
        order: 5;
    }

    .schedule-item {
        width: 50%;
    }
}
