services:
  app:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile
    privileged: true
    container_name: timer
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "80:80"
      - "5173:5173"
    user: "1000:1000"
    environment:
      - NODE_ENV=development
